<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{url_for('static', filename='wolficon.png')}}">
    <link rel="apple-touch-startup-image" href="{{url_for('static', filename='wolflaunch.png')}}">
    <meta name="apple-mobile-web-app-title" content="wolfRemote">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>wolfRemote</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="navbar-brand mb-0">
                wolfRemote
            </h1>
            <span id="status" class="badge bg-success text-right">Ready</span>
        </div>
    </nav>

    <div class="container mb-3">
        <ul class="nav nav-tabs nav-justified mt-3" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tv-tab" data-bs-toggle="tab" href="#tv" role="tab">TV</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="lights-tab" data-bs-toggle="tab" href="#lights" role="tab">Lights</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="scenes-tab" data-bs-toggle="tab" href="#scenes" role="tab">Scenes</a>
            </li>
        </ul>

    </div>

    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tv" role="tabpanel">
                <div class="card mb-3 pb-0 text-dark">
                    <h6 class="card-header">I want to watch...</h6>
                    <div class="card-body">
                        <div>
                            <button data-sequence="chromecast" data-url="/api/v1/sequence" data-method="put"
                                type="button" class="btn btn-outline-primary mb-2 make-request">Chromecast</button>
                            <button data-sequence="cubert" data-url="/api/v1/sequence" data-method="put" type="button"
                                class="btn btn-outline-primary mb-2 make-request">Cubert</button>
                            <button data-sequence="switch" data-url="/api/v1/sequence" data-method="put" type="button"
                                class="btn btn-outline-primary mb-2 make-request">Switch</button>
                            <button data-sequence="vinyl" data-url="/api/v1/sequence" data-method="put" type="button"
                                class="btn btn-outline-primary mb-2 make-request">Vinyl</button>
                            <button data-sequence="airplay" data-url="/api/v1/sequence" data-method="put" type="button"
                                class="btn btn-outline-primary mb-2 make-request">AirPlay</button>
                            <button data-sequence="all_off" data-url="/api/v1/sequence" data-method="put" type="button"
                                class="btn btn-outline-danger mb-2 make-request">I'm done</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <h6 class="card-header">Volume</h6>
                    <div class="card-body">
                        <div class="btn-group btn-block full-width" role="group">
                            <button data-amount="5" data-direction="down" data-url="/api/v1/receiver/volume"
                                data-method="put" type="button"
                                class="btn btn-outline-secondary make-request">-5</button>
                            <button data-amount="1" data-direction="down" data-url="/api/v1/receiver/volume"
                                data-method="put" type="button" class="btn btn-outline-primary make-request">-1</button>
                            <button data-amount="1" data-direction="up" data-url="/api/v1/receiver/volume"
                                data-method="put" type="button" class="btn btn-outline-success make-request">+1</button>
                            <button data-amount="5" data-direction="up" data-url="/api/v1/receiver/volume"
                                data-method="put" type="button" class="btn btn-outline-danger make-request">+5</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <h6 class="card-header">Picture Modes</h6>
                    <div class="card-body">
                        {% for mode in picture_modes.modes %}
                        <button data-mode="{{mode}}" data-url="/api/v1/tv/picture_mode" data-method="put" role="button"
                            class="btn btn-outline-primary mb-2 make-request">{{mode}}</button>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <h6 class="card-header">Backlight</h6>
                    <div class="card-body">
                        <input data-url="/api/v1/tv/backlight" data-method="put" data-key="backlight" type="range"
                            class="form-range full-width" id="backlight-slider" min="0" max="100" step="1">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="lights" role="tabpanel">
                <div class="card mb-3">
                    <h6 class="card-header">Brightness</h6>
                    <div class="card-body">
                        <div>
                            <label for="dining-room" class="form-label full-width">
                                Dining Room
                                <input id="dining-room" type="range" class="form-range light-slider" min="0" max="65535"
                                    step="1" value="0">
                            </label>
                        </div>
                        <div>
                            <label for="living-room" class="form-label full-width">
                                Living Room
                                <input id="living-room" type="range" class="form-range light-slider" min="0" max="65535"
                                    step="1" value="0">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <h6 class="card-header">Color Temperature</h6>
                    <div class="card-body">
                        <div class="btn-group" role="group">
                            <button type="button" data-hue="0" data-saturation="0" data-kelvin="3000"
                                class="btn btn-light" style="background-color: #ffe59d;">Warm</button>
                            <button type="button" data-hue="0" data-saturation="0" data-kelvin="3500"
                                class="btn btn-light" style="background-color: #fff7e4;">Neutral</button>
                            <button type="button" data-hue="0" data-saturation="0" data-kelvin="4000"
                                class="btn btn-light" style="background-color: #faffff;">Bright</button>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <h6 class="mt-1">Custom</h6>
                        <div class="mt-3">
                            <label for="hue" class="form-label full-width">
                                Hue
                                <input id="hue" type="range" class="form-range light-slider" min="0" max="65535"
                                    step="1" value="0">
                            </label>
                        </div>
                        <div>
                            <label for="saturation" class="form-label full-width">
                                Saturation
                                <input id="saturation" type="range" class="form-range light-slider" min="0" max="65535"
                                    step="1" value="0">
                            </label>
                        </div>
                        <div>
                            <label for="kelvin" class="form-label full-width">
                                Kelvin
                                <input id="kelvin" type="range" class="form-range light-slider" min="2500" max="9000"
                                    step="1" value="3500">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="scenes" role="tabpanel">Coming soon!</div>
        </div>

        <p class="text-center mt-4">
            © 2020 <a href="#" id="toggle-debug" class="sneaky">Wolf</a>Bytes, a division of Sambrand™️
        </p>



        <div class="card mb-3" style="display: none;" id="debug-options">
            <h6 class="card-header">Debug Options</h6>
            <div class="card-body">
                <button class="btn btn-danger make-request" type="button" data-url="/api/v1/tv/force_reboot" data-method="put">Force TV Reboot</button>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="{{url_for ('static', filename='dothings.js')}}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>